Source: calamares-modules-slimbook
Section: utils
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (= 13),
                libslimbook-dev,
                libcalamares-dev,
                cmake,
                build-essential,
                qt6-base-dev,
                qt6-declarative-dev,
                linguist-qt6,
                qt6-tools-dev
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://slimbook.es

Package: calamares-modules-slimbook-calamares3.3
Architecture: any
Provides: calamares-modules-slimbook
Depends: calamares, libslimbook1, qml-module-qtquick-controls2, qml-module-qtquick-layouts
Description: Slimbook calamares modules
 Slimbook calamares modules



